{% extends "Selecao/inner-page.html" %}
{% block main %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About me and MLNow</h2>
          <ol>
            <li><a href="/home/main">Home</a></li>
            <li>About me and MLNow</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <p>
          This project is for the benefit of myself and anyone trying to learn about similar things.
    I hope to organize this site as a way of displaying what I have learned / done. In
    scientific studies and anecdotally, teaching is the best way to solidify learning. This site hopes to accomplish that for me
    as I try to explain what I have learned in my own words, as well as implement in examples.
        </p>
          <p>
              One of the goals of this site is to study for the google tensorflow exam.
              I believe that independent certifications like this will start to rival
              and replace a formal college education. I have taken a number of coursera courses,
              and hope to turn what I've learned into projects displayed here.
          </p>
      </div>
    </section>
</main>
{% endblock %}

